
body {
    background-color: #87CEFA;
}
h1 {
	color: red;
	font-style: verdana;
}
h2 {
	color: yellow;
	font-style: sans-serif;
}
h3 {
	color: pink;
	font-style: fantasy;
}
p{
	font-family: cursive;
}
div{
	border: white 8px outset;
}